.filters--accordion-trigger.open .icon--20 {
  transform: rotate(0deg);
}

.filters--accordion-trigger .icon--20 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.filters--accordion-list {
  height: 0;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .filters--accordion-list.is--filters {
    height: auto !important;
    overflow: hidden;
  }
}
