.main-wrapper {
  opacity: 0;
}

.swiper-pagination-bullet {
  display: flex;
  width: 17rem;
  height: 17rem;
  padding: 0rem;
  border-radius: 300rem;
  background: transparent;
  border-radius: 55.859px;
  border: 1rem solid var(--deep-marin--300);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--deep-marin--300);
}

.navbar {
  transition: all 0.3s ease;
  border-bottom: solid 1px transparent;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.is--scrolled {
  background: var(--color--stone);
  border-bottom: solid 1px #c7c7c7;
  color: var(--deep-marin--900);
}

.navbar.is--scrolled
  [data-wf--navbar--variant="dark"].navbar.is--scrolled
  .navbar--dropdown-list {
  color: var(--deep-marin--900);
  background-color: var(--color--stone);
}

[data-wf--navbar--variant="dark"].navbar .navbar--dropdown-list {
  background-color: var(--deep-marin--900);
  color: var(--color--white);
}

[data-wf--navbar--variant="dark"].navbar.is--scrolled .navbar--dropdown-list {
  color: var(--deep-marin--900);
  background-color: var(--color--white);
}

[data-wf--navbar--variant="dark"].navbar.is--scrolled .btn {
  background-color: var(--deep-marin--900);
  box-shadow: inset 0 0 0 1px var(--deep-marin--900);
  color: var(--color--white);
}

[data-wf--navbar--variant="dark"].navbar.is--scrolled .btn.is--black-ghost {
  color: var(--deep-marin--900);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--deep-marin--900);
}

@media screen and (max-width: 767px) {
  [data-wf--navbar--variant="dark"].navbar.is--scrolled .navbar--menu {
    background: white;
  }
}

.navbar--dropdown-line {
  width: 100%;
}

.howitworks--item.is--active .howitworks--number.is--empty {
  background: var(--deep-marin--900);
  color: white;
}

.faq--question .faq--icon {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.faq--question.open .faq--icon {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .navbar--dropdown-toggle.open .navbar--dropdown-arrow {
    transform: rotate(180deg);
  }
}

.menu--icon-close {
  opacity: 0;
}

.navbar--dropdown.is--active .navbar--dropdown-toggle {
  font-weight: 700;
}

.images-parent img {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  display: block; /* Ensure images are block elements */
}

.images-parent img.is--active {
  opacity: 1;
}

/* ------------ hubspot form ------------ */

.input {
  margin-right: 0px !important;
}

.hs-input {
  height: 48rem;
  border-width: 0rem;
  border-radius: 8rem;
  color: var(--deep-marin--900);
  background: white;
  width: 100% !important;
  margin-bottom: 12rem;
  padding-left: 16rem;
}

.form-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24rem;
  margin-bottom: 12rem !important;
}

.form-columns-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;
  margin-bottom: 12rem !important;
}

form label {
  color: var(--deep-marin--900);
  font-size: 16rem;
  line-height: 150%;
  margin-bottom: 8rem;
}

.hs-form-field {
  width: 100% !important;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20rem;
}

.hs-button {
  background: var(--deep-marin--900);
  color: white;
  border-radius: 8rem;
  padding: 16rem 20rem;
  font-size: 16rem;
  line-height: 150%;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
  font-weight: 400;
}

.hs-button:hover {
  background: var(--deep-marin--700);
}

select.hs-input {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard property */
  background: white;
  background-image: url("https://cdn.prod.website-files.com/672b9198b6cb729eb016eaee/67617275dbe636262b5d67b0_LO%20Website%20Icons.svg");
  background-position: calc(100% - 11rem) center;
  background-size: 24rem;
  background-repeat: no-repeat;
}

.hs-error-msgs {
  color: red;
  font-size: 12rem;
  margin-top: 0rem;
  margin-bottom: 0rem !important;
}

.hs-error-msgs label {
  color: red;
  font-size: 12rem;
  margin-top: 8rem;
  margin-bottom: 0rem !important;
}

textarea.hs-input {
  height: 120rem;
  padding: 16rem;
}

fieldset {
  max-width: none !important;
}

.submitted-message {
  color: var(--deep-marin--900);
  font-size: 16rem;
  line-height: 150%;
  margin-top: 16rem;
  background-color: white;
  border-radius: 12rem;
  padding: 64rem 40rem;
}

/* ------------ hubspot form mobile ------------ */

@media screen and (max-width: 767px) {
  .form-columns-2 {
    grid-template-columns: 1fr;
    gap: 12rem;
  }
}

/* ------------ search filters ------------ */
.filter--radio.is--active {
  opacity: 1;
}
