.main-wrapper {
  opacity: 0;
}

.swiper-pagination-bullet {
  display: flex;
  width: 17rem;
  height: 17rem;
  padding: 0rem;
  border-radius: 300rem;
  background: transparent;
  border-radius: 55.859px;
  border: 1rem solid var(--deep-marin--300);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--deep-marin--300);
}

.navbar {
  transition: all 0.3s ease;
  border-bottom: solid 1px transparent;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.is--scrolled {
  background: var(--color--stone);
  border-bottom: solid 1px #c7c7c7;
  color: var(--deep-marin--900);
}

.navbar--dropdown-line {
  width: 100%;
}

.howitworks--item.is--active .howitworks--number.is--empty {
  background: var(--deep-marin--900);
  color: white;
}

.faq--question .faq--icon {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.faq--question.open .faq--icon {
  transform: rotate(180deg);
}

.menu--icon-close {
  opacity: 0;
}

.navbar--dropdown.is--active .navbar--dropdown-toggle {
  font-weight: 700;
}

/* ------------ hubspot form ------------ */

.input {
  margin-right: 0px !important;
}

.hs-input {
  height: 48rem;
  border-width: 0rem;
  border-radius: 8rem;
  color: var(--deep-marin--900);
  background: white;
  width: 100% !important;
  margin-bottom: 12rem;
}

.form-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24rem;
  margin-bottom: 12rem;
}

.form-columns-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;
}

form label {
  color: var(--deep-marin--900);
  font-size: 16rem;
  line-height: 150%;
  margin-bottom: 8rem;
}

.hs-form-field {
  width: 100% !important;
}

.actions {
  display: flex;
  justify-content: flex-center;
}

.hs-button {
  background: var(--deep-marin--900);
  color: white;
  border-radius: 8rem;
  padding: 12rem 24rem;
  font-size: 16rem;
  line-height: 150%;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
}

.hs-button:hover {
  background: var(--deep-marin--700);
}
